<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header">Delete Package</div>
  <div class="content">
    <p>{{ context.data }}</p>
  </div>
  <div class="actions">
    <button class="ui button" (click)="modal.deny('denied')">Cancel</button>
    <button class="ui red button" (click)="modal.approve('approved')" autofocus>Delete</button>
  </div>
</ng-template>

<div *ngIf="!isLoaded" style="margin-top: 50px;" class="ui active centered inline loader"></div>
<div *ngIf="isLoaded">
  <div *ngIf="packages.length == 0" class="ui container">
    <div class="ui placeholder segment" style="text-align: center;">
      <div class="ui icon header">
        <i class="frown outline icon"></i>
        No packages could be found. Why not add one?
      </div>
      <div class="inline">
        <button class="ui primary button" (click)="goCreate()">
          Add package
        </button>
      </div>
    </div>
  </div>

  <div class="ui container">

    <div class="ui cards">
      <div class="ui link card orange" *ngFor="let aPackage of packages;">
        <div class="content" (click)="goUpdate(aPackage.id)">
          <a class="header">{{aPackage.name}}</a>

          <div class="description">
            {{aPackage.description}}
          </div>
        </div>
        <div class="extra content" (click)="goUpdate(aPackage.id)">
        <span class="left floated">
          <i class="file icon"></i>
           {{aPackage.products.length}} products
        </span>
          <span class="right floated">
           <i class="money icon"></i>
           {{aPackage.price | currency:currency.code:'symbol-narrow':'0.2'}}
        </span>

        </div>
        <div class="ui bottom attached button" (click)="doDelete(aPackage.id, aPackage.name)">
          <i class="delete icon"></i>
          remove
        </div>
      </div>
    </div>

    <div class="right" *ngIf="packages.length > 0" style="margin-top: 60px">
      <button class="ui primary button" (click)="goCreate()">
        Add package
      </button>
    </div>

  </div>
</div>
